/* header section */

#header-section-item {
    padding-bottom: 0 !important;
}


#desc-with-side-img-1,
#desc-with-side-img-2,
#why-choose-us-section-item,
#services-section-item,
#full-width-container,
#projects-section-item,
#reviews-section-item,
#faq-section-item-ext,
#contact-us-section-item,
#header-section-item {
    margin: 0!important;
    padding: 50px 0;
}
